*{
    margin: 0;
    padding: 0;
    --primary-font:'Roboto';
    --secondary-font:'Open Sans';

    --main-bg: #0F0F0F;
    --title-color: white;
    --secondary-text-color:#E2E2E2;
    --answer-color:#3EA6FF;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg);
    display: flex;
    align-items: start;
    justify-content: center;
}



.youtube-comments-section{
    width: 700px;
    height: 300px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.main-component-container{
    margin-top: 80px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.user-info{
    display: flex;
    width: 95%;
    justify-content: space-between;
}
.user-img-contaier{
    display: flex;
    align-items: center;
}
.user-img-contaier img{
    width: 50px;
    border-radius: 30px;
    margin-right: 16px;
}

.user-stats{
    width: 90%;
}

.comment-main-info{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-name{
    color: var(--title-color);
    font-size: 16px;
    font-family: var(--primary-font);
}

.comment-age{
    color:var(--secondary-text-color);
    font-size: 14px;
    font-family: var(--secondary-font);
}

.comment-main-info img{
    width: 20px;
    
}


.main-comment{
    margin: 4px 0 4px 0;
}

.comment{
    color: var(--title-color);
    font-size: 18px;
    font-family: var(--primary-font);
}

.comment-stats{
    height: 34px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.comment-numbers{
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
}

.comment-numbers img{
    width: 24px;
}

.comment-likes{
    color: var(--secondary-text-color);
    font-family: var(--secondary-font);
    margin: 0 20px 0 12px;
}

.reply{
    color: var(--secondary-text-color);
    font-size: 14px;
    font-family: var(--secondary-font);
}



.likes{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.youtuber-like{
    position: relative;
}

#youtuber-photo{
    width: 28px;
}

#youtuber-heart{
    width: 14px;
    position: absolute;
    top: 18px;
    left: 18px;
}

.see-answer{
    width: 40%;
    margin: 30px 0 0 90px;
    display: flex;
    align-items: center;
}

.see-answer img{
    width: 22px;
}

.answer{
    margin-left: 14px;
    font-size: 14px;
    color: var(--answer-color);
    font-family: var(--primary-font);
}



.menu-container{
    width: 30px;
}
